/*
FARVER

Orange 
#FE5301 

Sort
#070618;
*/

body {
  font-family: "Gugi", cursive;
  background-color: #070618;
}

.orange-background {
  background-color: #fe5301;
}

.orange-box-25 {
  height: 100%;
  width: 10px;
  background-color: rgba(254, 83, 1, 0.25);
}

.orange-box-50 {
  height: 100%;
  width: 10px;
  background-color: rgba(254, 83, 1, 0.5);
}

.letter-spacing {
  letter-spacing: 5px;
}

.search-input {
  border: 1px solid #fe5301;
  border-radius: 15px;
  background-color: transparent;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  width: 100%;
  background-image: url("../icons/search.png");
  background-position-y: center;
  background-position-x: right 10px;
  background-repeat: no-repeat;
  background-size: 20px;
}

/* .gradient {
    background-image: linear-gradient(to right, black , transparent);
} */

.point-input {
  position: relative;
  width: 100%;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fe5301;
  cursor: default;
  text-align: center;
  /* padding-left: 20px; */
}

.square-icon {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 40px;
  width: auto;
}

.number {
  position: absolute;
  z-index: 100;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
}
