/*
FARVER

Orange 
#FE5301 

Sort
#070618;
*/

body {
  box-sizing: border-box;
  font-family: "Gugi", cursive;
  background-color: #070618;
  color: #fff;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.orange-background {
  background-color: #fe5301;
}

.orange-box-25 {
  height: 100%;
  width: 10px;
  background-color: rgba(254, 83, 1, 0.25);
}

.orange-box-50 {
  height: 100%;
  width: 10px;
  background-color: rgba(254, 83, 1, 0.5);
}

.letter-spacing {
  letter-spacing: 5px;
}

.search-input {
  border: 1px solid #fe5301;
  border-radius: 15px;
  background-color: transparent;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  width: 100%;
  background-image: url("../icons/search.png");
  background-position-y: center;
  /* background-position-x: right 10px; */
  background-position-x: 95%;
  background-repeat: no-repeat;
  background-size: 20px;
  outline: none;
}

.point-input {
  position: relative;
  width: 100%;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fe5301;
  cursor: default;
  text-align: center;
  /* padding-left: 20px; */
}

.square-icon {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 40px;
  width: auto;
}

.number {
  position: absolute;
  z-index: 100;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
}

div::-webkit-scrollbar {
  background-color: #070618;
  width: 5px;
}

div::-webkit-scrollbar-thumb {
  background-color: #fe5301;
  border-radius: 10px;
}

.strokeme {
  color: white;
  text-shadow: -1px -1px 0 #fe5301, 1px -1px 0 #fe5301, -1px 1px 0 #fe5301,
    1px 1px 0 #fe5301;
}

.footer {
  height: 20vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 2px solid #fe5301;
}