/*
FARVER

Orange 
#FE5301 

Sort
#070618;
*/

body {
    font-family: 'Gugi', cursive;
    background-color: #070618;
}

.orange-background {
    background-color: #fe5301;
}

.orange-box-25{
    height: 100%;
    width: 10px;
    background-color: rgba(254,83,1, 0.25)
}

.orange-box-50{
    height: 100%;
    width: 10px;
    background-color: rgba(254,83,1, 0.50)
}

.letter-spacing {
    letter-spacing: 5px;
}